* {
  padding: 0;
  margin: 0;
}
* a {
  color: white;
}
.li-style,
*:ul,
*:li {
  list-style: none;
}
.a,
* a,
* a:hover,
* a:link,
* a:focus {
  outline: 0;
  text-decoration: none;
}
.IO,
* input,
* button {
  border: 0;
  outline: 0;
}
.Block,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.icon {
  width: 1em;
  height: 1em;
  font-size: 3rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#wrap {
  position: relative;
  height: 100%;
  overflow: scroll;
}
#wrap .header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
  background-color: #ffc0cb;
  z-index: 1000;
}
#wrap .header svg {
  position: absolute;
  font-size: 1.6rem;
  left: 50px;
  top: 25px ;
  z-index: 1;
  margin-left: -0.6rem;
  margin-top: -0.6rem;
}
#wrap .header input[type="search"] {
  position: absolute;
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0px 28px;
  border-radius: 40px 40px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#wrap .midle {
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 1440px;
  height: 100%;
}
#wrap .midle div {
  box-sizing: border-box;
  width: 360px;
  height: 100%;
  float: left;
  text-align: center;
}
#wrap .midle div:nth-child( 1) {
  background-color: #ff0000;
}
#wrap .midle div:nth-child( 2) {
  background-color: #0000ff;
}
#wrap .midle div:nth-child( 3) {
  background-color: #008000;
}
#wrap .midle div:nth-child( 4) {
  background-color: #ffff00;
}
#wrap .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffc0cb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#wrap .footer div {
  width: 100%;
  text-align: center;
}
#wrap .footer div:hover {
  background-color: rgba(36, 36, 36, 0.3);
}
